@charset "UTF-8";

/* 호버 에니메이션 04-1 */
body {
  height: 100vh;
  background: #0f2027;
  background-image: linear-gradient(120deg, #fce021, #8e940b);
  font-family: 'Noto Serif KR', serif;
}
.hover_wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
.hover_wrap .effect {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 10px;
}
.hover_wrap .effect .front {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.hover_wrap .effect .back {
  position: absolute;
  left: 0;
  top: 0;
}
.hover_wrap .effect figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(173, 13, 244, 0.5);
  width: 100%;
  padding: 3% 4%;
  box-sizing: border-box;
  color: #4e9402;
}
.hover_wrap .effect figcaption h3 {
  font-size: 24px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px #000000;
}
.hover_wrap .effect figcaption p {
  font-size: 20px;
}
.hover_wrap .effect img {
  display: block;
  width: 100%;
}

@media (max-width: 800px) {
  .hover_wrap {
    flex-direction: column;
  }
}

/* 호버 이펙트1 */
.hover_wrap .effect.hover7 .front {
  transform: rotateY(0);
  transition: transform 1s;
  backface-visibility: hidden;
}
.hover_wrap .effect.hover7:hover .front {
  transform: rotateY(180deg) scale(2.0);
}
.hover_wrap .effect.hover7 .back {
  transform: rotateY(-180deg);
  transition: transform 1s;
}
.hover_wrap .effect.hover7:hover .back {
  transform: rotateY(0) scale(2.0);
}

/* 호버 이펙트2 */
.hover_wrap .effect.hover8 .front {
  transform: rotateX(0);
  transition: transform 1s;
  backface-visibility: hidden;
}
.hover_wrap .effect.hover8:hover .front {
  transform: rotateX(180deg) scale(0.6);
}
.hover_wrap .effect.hover8 .back {
  transform: rotateX(-180deg);
  transition: transform 1s;
}
.hover_wrap .effect.hover8:hover .back {
  transform: rotateX(0) scale(0.6);
}

