@charset "UTF-8";

/* 닷 에니메이션 01-1 */
body {
  height: 100vh;
  background-image: linear-gradient(to right, #c49365 0%, #fa7c04 100%);
}
.loading {
  width: 20px;
  height: 100px;
  /* background: #ffffff; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: loading ease-in-out 1s 100;
}
.loading .circle1 {
  width: 40px;
  height: 40px;
  background: #000000;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.loading .circle2 {
  width: 20px;
  height: 20px;
  background: #000000;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-top: 60px;
}
.loading2 {
  width: 20px;
  height: 100px;
  /* background: #ffffff; */
  position: absolute;
  left: 30%;
  top: 30%;
  transform: translate(-30%, -30%);
  animation: loading ease-in-out 1s 100;
}
.loading2 .circle1 {
  width: 20px;
  height: 20px;
  background: #47fa04;
  border-radius: 50%;
  border: 3px solid #000000;
}
.loading2 .circle2 {
  width: 80px;
  height: 80px;
  background: #47fa04;
  border-radius: 50%;
  border: 3px solid #000000;
  margin-top: 60px;
}
.loading3 {
  width: 20px;
  height: 100px;
  /* background: #ffffff; */
  position: absolute;
  left: 70%;
  top: 70%;
  transform: translate(-70%, -70%);
  animation: loading ease-in-out 1s 100;
}
.loading3 .circle1 {
  width: 20px;
  height: 20px;
  background: #0b04fa;
  border-radius: 50%;
  border: 5px solid #ffffff;
}
.loading3 .circle2 {
  width: 10px;
  height: 10px;
  background: #0b04fa;
  border-radius: 50%;
  border: 5px solid #ffffff;
  margin-top: 60px;
}
.loading4 {
  width: 20px;
  height: 100px;
  /* background: #ffffff; */
  position: absolute;
  left: 10%;
  top: 10%;
  transform: translate(-10%, -10%);
  animation: loading ease-in-out 1s 100;
}
.loading4 .circle1 {
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
  border: 7px solid #000000;
}
.loading4 .circle2 {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  border: 5px solid #000000;
  margin-top: 60px;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

