@charset "UTF-8";

/* 호버 에니메이션 02-1 */
body {
  height: 100vh;
  background: #0f2027;
  background-image: linear-gradient(180deg, #ffffff, #cccccc);
  font-family: 'Noto Serif KR', serif;
}
.hover_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hover_wrap figure {
  position: relative;
  width: 400px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden; 
  background: linear-gradient(90deg, #ffcc00, #c42890);
}
.hover_wrap figure::before {
  content: '';
  width: 60px;
  height: 1px;
  background: #0984c1;
  position: absolute;
  left: 100%;
  top: 50%;
  z-index: 1;
  border: 1px solid #ffffff;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.hover_wrap figure::after {
  content: '';
  width: 1px;
  height: 60px;
  background: #0984c1;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  border: 1px solid #ffffff;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.hover_wrap figure.hover4::before {
  content: '';
  width: 60px;
  height: 1px;
  background: #ffcc00;
  position: absolute;
  left: -100%;
  top: 50%;
  z-index: 1;
  border: 1px solid #ffffff;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.hover_wrap figure.hover4::after {
  content: '';
  width: 1px;
  height: 60px;
  background: #ffcc00;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  border: 1px solid #ffffff;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.hover_wrap figure img {
  width: 100%;
  height: 400px;
  display: block;
  transition: all 0.3s ease;
}

@media (max-width: 800px) {
  .hover_wrap {
    flex-direction: column;
  }
}

/* 호버 이펙트3 */
.hover_wrap figure.hover3:hover img {
  opacity: 0.6;
  transform: rotate(180deg) scale(2.0);
}
.hover_wrap figure.hover3:hover::before {
  left: 50%;
  opacity: 1;
}
.hover_wrap figure.hover3:hover::after {
  top: 50%;
  opacity: 1;
}

/* 호버 이펙트4 */
.hover_wrap figure.hover4:hover img {
  opacity: 0.6;
  transform: rotate(90deg) scale(0.4);
}
.hover_wrap figure.hover4:hover::before {
  left: 50%;
  opacity: 1;
}
.hover_wrap figure.hover4:hover::after {
  top: 50%;
  opacity: 1;
}

