@charset "UTF-8";

/* 호버 에니메이션 05 */
body {
  height: 100vh;
  background: #0f2027;
  background-image: linear-gradient(120deg, #2c5364, #203a43);
  font-family: 'Jua', sans-serif;
}
.hover_wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover_wrap .effect {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 10px;
  cursor: pointer;
  perspective: 1000px;
}
.hover_wrap .effect .front {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  transform-style: preserve-3d;
}
.hover_wrap .effect .back {
  position: absolute;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
}
.hover_wrap .effect img {
  display: block;
  width: 100%;
}
.hover_wrap .effect figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateZ(100px);
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  backface-visibility: hidden;
  color: #ffffff;
  padding: 3% 4%;
  box-sizing: border-box;
  white-space: nowrap;
}
.hover_wrap .effect figcaption h3 {
  font-size: 30px;
  padding-bottom: 10px;
}
.hover_wrap .effect figcaption p {
  font-size: 16px;
}

@media (max-width: 800px) {
  .hover_wrap {
    flex-direction: column;
  }
}

/* 호버 이펙트1 */
.hover_wrap .effect.hover9 .front {
  transform: rotateY(0);
  transition: transform 1s;
  backface-visibility: hidden;
}
.hover_wrap .effect.hover9:hover .front {
  transform: rotateY(180deg);
}
.hover_wrap .effect.hover9 .back {
  transform: rotateY(-180deg);
  transition: transform 1s;
  backface-visibility: hidden;
}
.hover_wrap .effect.hover9:hover .back {
  transform: rotateY(0);
}

/* 호버 이펙트2 */
.hover_wrap .effect.hover10 .front {
  transform: rotateX(0);
  transition: transform 1s;
  backface-visibility: hidden;
}
.hover_wrap .effect.hover10:hover .front {
  transform: rotateX(180deg);
}
.hover_wrap .effect.hover10 .back {
  transform: rotateX(-180deg);
  transition: transform 1s;
  backface-visibility: hidden;
}
.hover_wrap .effect.hover10:hover .back {
  transform: rotateX(0);
}

