@charset "UTF-8";

/* 큐브 에니메이션 01-1 */
body {
  background: #ff0000;
  height: 100vh;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cube {
  position: relative;
  width: 100px;
  height: 100px;
  /* background: #000000; */
  transform-style: preserve-3d;
  transform: rotateX(-40deg) rotateY(-156deg);
  animation: rotate 8s linear infinite;
}
.cube div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  /* background: #000000; */
  opacity: 0.75;
  color: #ffc000;
  border: 3px solid #ffffff;
}
.cube div:nth-child(1) {
  background: #111111;
  transform-origin: center top;
  transform: rotateX(90deg) translateY(-100px);
  animation: top 4s 8s ease-in-out infinite;
}
.cube div:nth-child(2) {
  background: #222222;
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100px);
  animation: bottom 4s 8s ease-in-out infinite;
}
.cube div:nth-child(3) {
  background: #333333;
  transform-origin: left center;
  transform: rotateY(-90deg) translateX(-100px);
  animation: left 4s 8s ease-in-out infinite;
}
.cube div:nth-child(4) {
  background: #444444;
  transform-origin: right center;
  transform: rotateY(90deg) translateX(100px);
  animation: right 4s 8s ease-in-out infinite;
}
.cube div:nth-child(5) {
  background: #555555;
  transform-origin: center center;
  transform: rotateX(0) translateX(0);
  animation: front 4s 8s ease-in-out infinite;
}
.cube div:nth-child(6) {
  background: #666666;
  transform-origin: center center;
  transform: rotateY(180deg) translatez(100px);
  animation: back 4s 8s ease-in-out infinite;
}
@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0) translateZ(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translateZ(0);
  }
}
@keyframes top {
  0% {
    transform: rotateX(90deg) translateY(-100px) translateZ(0);
  }
  50% {
    transform: rotateX(90deg) translateY(-100px) translateZ(100px);
  }
  100% {
    transform: rotateX(90deg) translateY(-100px) translateZ(0);
  }
}
@keyframes bottom {
  0% {
    transform: rotateX(-90deg) translateY(100px) translateZ(0);
  }
  50% {
    transform: rotateX(-90deg) translateY(100px) translateZ(100px);
  }
  100% {
    transform: rotateX(-90deg) translateY(100px) translateZ(0);
  }
}
@keyframes left {
  0% {
    transform: rotateY(-90deg) translateX(-100px) scaleY(5);
  }
  50% {
    transform: rotateY(-90deg) translateX(-100px) scaleY(1);
  }
  100% {
    transform: rotateY(-90deg) translateX(-100px) scaleY(5);
  }
}
@keyframes right {
  0% {
    transform: rotateY(90deg) translateX(100px) scaleY(5);
  }
  50% {
    transform: rotateY(90deg) translateX(100px) scaleY(1);
  }
  100% {
    transform: rotateY(90deg) translateX(100px) scaleY(5);
  }
}
@keyframes front {
  0% {
    transform: rotateX(0deg) translateX(0) scaleY(5);
  }
  50% {
    transform: rotateX(0deg) translateX(0) scaleY(1);
  }
  100% {
    transform: rotateX(0deg) translateX(0) scaleY(5);
  }
}
@keyframes back {
  0% {
    transform: rotateY(180deg) translateZ(100px) scaleY(5);
  }
  50% {
    transform: rotateY(180deg) translateZ(100px) scaleY(1);
  }
  100% {
    transform: rotateY(180deg) translateZ(100px) scaleY(5);
  }
}

