@charset "UTF-8";

/* 닷 에니메이션 01 */
body {
  height: 100vh;
  background-image: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
}
.loading {
  width: 20px;
  height: 100px;
  /* background: #ffffff; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: loading ease-in-out 1s 100;
}
.loading .circle1 {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
}
.loading .circle2 {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  margin-top: 60px;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

