@charset "UTF-8";

/* 웨이브 에니메이션 01-1 */
body {
  height: 120vh;
  background-image: linear-gradient(120deg, #bcb952 0%, #f9f104 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex: 0 1 100%;
}
.row:nth-child(1) .circle {
  animation-delay: 100ms;
}
.row:nth-child(2) .circle {
  animation-delay: 200ms;
}
.row:nth-child(3) .circle {
  animation-delay: 300ms;
}
.row:nth-child(4) .circle {
  animation-delay: 400ms;
}
.row:nth-child(5) .circle {
  animation-delay: 500ms;
}
.row:nth-child(6) .circle {
  animation-delay: 600ms;
}
.row:nth-child(7) .circle {
  animation-delay: 700ms;
}
.row:nth-child(8) .circle {
  animation-delay: 800ms;
}
.row:nth-child(9) .circle {
  animation-delay: 900ms;
}
.row:nth-child(10) .circle {
  animation-delay: 1000ms;
}
.row:nth-child(11) .circle {
  animation-delay: 1100ms;
}
.row:nth-child(12) .circle {
  animation-delay: 1200ms;
}
.row:nth-child(13) .circle {
  animation-delay: 1300ms;
}
.row:nth-child(14) .circle {
  animation-delay: 1400ms;
}
.row:nth-child(15) .circle {
  animation-delay: 1500ms;
}
.row:nth-child(16) .circle {
  animation-delay: 1600ms;
}
.row:nth-child(17) .circle {
  animation-delay: 1700ms;
}
.row:nth-child(18) .circle {
  animation-delay: 1800ms;
}
.row:nth-child(19) .circle {
  animation-delay: 1900ms;
}
.row:nth-child(20) .circle {
  animation-delay: 2000ms;
}
.circle {
  width: 30px;
  height: 30px;
  background: #f90404;
  margin: 5px 10px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  transform-origin: top center;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.3);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

