@charset "UTF-8";

/* 호버 에니메이션 02 */
body {
  height: 100vh;
  background: #0f2027;
  background-image: linear-gradient(120deg, #2c5364, #203a43);
  font-family: 'Jua', sans-serif;
}
.hover_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.hover_wrap figure {
  position: relative;
  width: 400px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden; 
  background: linear-gradient(45deg, #874da2, #c43a30);
}
.hover_wrap figure::before {
  content: '';
  width: 60px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  left: 100%;
  top: 50%;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.hover_wrap figure::after {
  content: '';
  width: 1px;
  height: 60px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.hover_wrap figure.hover4::before {
  content: '';
  width: 60px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  left: -100%;
  top: 50%;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.hover_wrap figure.hover4::after {
  content: '';
  width: 1px;
  height: 60px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.hover_wrap figure img {
  width: 100%;
  height: 400px;
  display: block;
  transition: all 0.3s ease;
}

@media (max-width: 800px) {
  .hover_wrap {
    flex-direction: column;
  }
}

/* 호버 이펙트3 */
.hover_wrap figure.hover3:hover img {
  opacity: 0.6;
}
.hover_wrap figure.hover3:hover::before {
  left: 50%;
  opacity: 1;
}
.hover_wrap figure.hover3:hover::after {
  top: 50%;
  opacity: 1;
}

/* 호버 이펙트4 */
.hover_wrap figure.hover4:hover img {
  opacity: 0.6;
}
.hover_wrap figure.hover4:hover::before {
  left: 50%;
  opacity: 1;
}
.hover_wrap figure.hover4:hover::after {
  top: 50%;
  opacity: 1;
}

