@charset "UTF-8";

/* 바 에니메이션 01-1 */
body {
  height: 100vh;
  background-image: linear-gradient(to right, #425246 0%, #05f944 100%);
}
.bar {
  width: 10px;
  height: 500px;
  background: #f905ea;
  border: 1px solid #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*
  animation-name: bar;
  animation-direction: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 100;
  */
  animation: bar 2s ease-in-out 100;
}
@keyframes bar {
  0% {
    transform: rotate(0);
    height: 0;
  }
  25% {
    transform: rotate(0);
    height: 500px;
  }
  50% {
    transform: rotate(180deg);
    height: 500px;
  }
  100% {
    transform: rotate(0);
    height: 0;
  }
}

