@charset "UTF-8";

/* 트레일 에니메이션 01-1 */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #7d66ad 0%, #5604f9 100%);
}
.circle {
  position: absolute;
  animation: movex 1s ease-in-out alternate infinite;
}
.circle > div {
  background: #ffcc00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  animation: movey 1s linear infinite;
}
.circle:nth-of-type(2) > div {
  width: 40px;
  height: 40px;
  opacity: 1.8;
}
.circle:nth-of-type(3) > div {
  width: 30px;
  height: 30px;
  opacity: 1.6;
}
.circle:nth-of-type(4) > div {
  width: 20px;
  height: 20px;
  opacity: 1.4;
}
.circle:nth-of-type(5) > div {
  width: 10px;
  height: 10px;
  opacity: 1.2;
}
.circle:nth-of-type(6) > div {
  width: 40px;
  height: 40px;
  opacity: 1.0;
}
.circle:nth-of-type(7) > div {
  width: 30px;
  height: 30px;
  opacity: 0.8;
}
.circle:nth-of-type(8) > div {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}
.circle:nth-of-type(9) > div {
  width: 10px;
  height: 10px;
  opacity: 0.4;
}
.circle:nth-of-type(2),
.circle:nth-of-type(2) > div {
  animation-delay: 0.1s;
}
.circle:nth-of-type(3),
.circle:nth-of-type(3) > div {
  animation-delay: 0.2s;
}
.circle:nth-of-type(4),
.circle:nth-of-type(4) > div {
  animation-delay: 0.3s;
}
.circle:nth-of-type(5),
.circle:nth-of-type(5) > div {
  animation-delay: 0.4s;
}
.circle:nth-of-type(6),
.circle:nth-of-type(6) > div {
  animation-delay: 0.5s;
}
.circle:nth-of-type(7),
.circle:nth-of-type(7) > div {
  animation-delay: 0.6s;
}
.circle:nth-of-type(8),
.circle:nth-of-type(8) > div {
  animation-delay: 0.7s;
}
.circle:nth-of-type(9),
.circle:nth-of-type(9) > div {
  animation-delay: 0.8s;
}
@keyframes movex {
  0% {
    transform: translate(-100px, 0);
  }
  100% {
    transform: translate(100px, 0);
  }
}
@keyframes movey {
  0% {
    transform: translate(0,0) scale(0.2);
    border-radius: 0;
  }
  25% {
    transform: translate(0,-100px) scale(2.0);
    border-radius: 30%;
  }
  50% {
    transform: translate(0,0) scale(0.6);
    border-radius: 50%;
  }
  75% {
    transform: translate(0,100px) scale(0.4);
    border-radius: 80%;
  }
  100% {
    transform: translate(0,0) scale(0.2);
    border-radius: 0;
  }
}

